#boardDiv {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

#stones {
    width: 100vmin;
    height: 100vmin;
}

.wrapWhite * {
    fill: white;
}

.wrapBlack * {
    fill: black;
}

.stoneOption {
    fill-opacity: 0;
}

.stoneOption:hover {
    fill-opacity: 1;
}

fieldset {
    padding: .1% 0% !important;;
}

.shiftRight {
    position: relative !important;
    left: -1% !important;
}

legend {
    font-weight: bold !important;
    font-size: 105% !important;
}

#currPlayer {
    width: 20px;
    height: 20px;
}

#options {
    font-size: 10vmin;
}

#options > * {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    transition: all .2s ease-in;
    text-decoration: none;
    width: 100%;
}

#optionsButton {
    height: 14vh;
}

#options > a {
    height: 43vh;
}

#options > a:hover, #options > div:hover{
    background-color: #002b36;
    color: #657b83;
}

#newGameForm {
    padding: 1% 2%;
}

#gameMetadata {
    padding: 1%;
}
